<!-- adding form component and validating it -->
<div class="container formform">
    <h2 class="text-center">Create a new Quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

          <label for="name">Quote</label>
          <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name"  #name='ngModel' required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Name is required</p>
          </div>

          
      </div>
      <div class="form-group">

          <label for="description">Author</label>
          <input type="text" required class="form-control" id="description">
          

      </div>
      <div class="form-group">
          <label for="complete">Completion</label>
          <input type='date' id="complete" required>

      </div>
      <button type="submit" class="btn btn-success">Add Quote</button>
  </form>
</div>